<a href="https://colab.research.google.com/github/mars241/Machine-Learning/blob/main/Corrig%C3%A9_KNN_distances_with_Pokemons_Chang_HE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
#import seaborn as sns
from sklearn.neighbors import NearestNeighbors

link = "https://raw.githubusercontent.com/murpi/wilddata/master/pokemon.csv"
df_pokemons = pd.read_csv(link, sep=',',na_values=['NA','\\N'], index_col=0)
df_pokemons.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
df_pokemons.dropna(axis=1, inplace=True)

In [ ]:
df_pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 800
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   HP          800 non-null    int64
 3   Attack      800 non-null    int64
 4   Defense     800 non-null    int64
 5   Sp. Atk     800 non-null    int64
 6   Sp. Def     800 non-null    int64
 7   Speed       800 non-null    int64
 8   Generation  800 non-null    int64
 9   Legendary   800 non-null    bool
dtypes: bool(1), int64(7), object(2)
memory usage: 63.3+ KB

In [ ]:
df_pokemons[df_pokemons['Name'] == 'Giratina']

Empty DataFrame
Columns: [Name, Type 1, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [ ]:
df_pokemons[df_pokemons['Name'].isin(['Mewtwo','Lugia', 'Rayquaza', 'Dialga', 'Palkia'])]

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,
163,Mewtwo,Psychic,106,110,90,154,90,130,1,True
270,Lugia,Psychic,106,90,130,90,154,110,2,True
426,Rayquaza,Dragon,105,150,90,150,90,95,3,True
541,Dialga,Steel,100,120,120,150,100,90,4,True
542,Palkia,Water,90,120,100,150,120,100,4,True

In [ ]:
pokemons_non_legend = df_pokemons[df_pokemons.Legendary == False]
pokemons_legend = df_pokemons[df_pokemons.Legendary == True]

In [ ]:
# Entraine l'algorithme NN en utilisant l'ensemble des colonnes numériques en variables explicatives X.

X = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']

distanceKNN = NearestNeighbors(n_neighbors=1).fit(pokemons_non_legend[X])
model = pokemons_legend[pokemons_legend['Name'] =='Mewtwo'][X]
distanceKNN.kneighbors(model)

(array([[42.22558466]]), array([[242]]))

In [ ]:
neighbors = distanceKNN.kneighbors(model)
pokemons_non_legend.iloc[neighbors[1][0][0]]

Name          Mega Houndoom
Type 1                 Dark
HP                       75
Attack                   90
Defense                  90
Sp. Atk                 140
Sp. Def                  90
Speed                   115
Generation                2
Legendary             False
Name: 249, dtype: object

In [ ]:
# une boucle pour trouver tout les remplaçants (Pokémon non légendaires)

pokemon_champion = ['Mewtwo','Lugia', 'Rayquaza', 'Dialga', 'Palkia']
for i in pokemon_champion:
  model = pokemons_legend[pokemons_legend['Name'] == i][X]
  distanceKNN.kneighbors(model)
  neighbors = distanceKNN.kneighbors(model)

  print(f"Le Pokémon non légendaires pour la prochaine compétition est : {pokemons_non_legend.iloc[neighbors[1][0][0]].Name}")

Le Pokémon non légendaires pour la prochaine compétition est : Mega Houndoom
Le Pokémon non légendaires pour la prochaine compétition est : Cresselia
Le Pokémon non légendaires pour la prochaine compétition est : Mega Blaziken
Le Pokémon non légendaires pour la prochaine compétition est : Mega Blastoise
Le Pokémon non légendaires pour la prochaine compétition est : Mega Charizard Y