<a href="https://colab.research.google.com/github/mars241/Machine-Learning/blob/main/Corrig%C3%A9_de_Theo__ML_Classification_KNN_distances_with_Pokemons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score, r2_score
import matplotlib.pyplot as plt
link = "https://raw.githubusercontent.com/murpi/wilddata/master/pokemon.csv"
df= pd.read_csv(link)

In [ ]:

legendary=df[df['Legendary']==True]
df=df[df['Legendary']== False]
df

##POUR SELECTIONNER UNIQUEMENT LES COLONNES NUMERIQUES : X = pokemons_nonlegendary.select_dtypes('number')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
787,788,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,789,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,790,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
790,791,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,792,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [ ]:
#SET UP DU NEAREST NEIGHBORS ICI
from sklearn.neighbors import NearestNeighbors

X = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']]
model= NearestNeighbors(n_neighbors=1).fit(X)

In [ ]:
X

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0    45      49       49       65       65     45           1
1    60      62       63       80       80     60           1
2    80      82       83      100      100     80           1
3    80     100      123      122      120     80           1
4    39      52       43       60       50     65           1
..   ..     ...      ...      ...      ...    ...         ...
787  85     100      122       58       75     54           6
788  55      69       85       32       35     28           6
789  95     117      184       44       46     28           6
790  40      30       35       45       40     55           6
791  85      70       80       97       80    123           6

[735 rows x 7 columns]

In [ ]:
POKEMON=["Mewtwo", "Lugia", "Rayquaza", "Giratina Origin Forme", "Dialga", "Palkia"]
for pokemon in POKEMON:              #  Je fais un try except parce que certains pokemon ne sont pas reconnu avec un simple '=='. Du coup je le fais aller dans le except avec le str.contains
  try:
    ok=model.kneighbors(legendary.loc[legendary['Name'] == pokemon, X.columns])
  except:
    ok=model.kneighbors(legendary.loc[legendary['Name'].str.contains(pokemon), X.columns])
  ok2=ok[1][0][0]
  ok2=df['Name'].iloc[ok2]
  print(f"Le pokemon le plus proche de {pokemon} est {ok2}")

Le pokemon le plus proche de Mewtwo est Mega Houndoom
Le pokemon le plus proche de Lugia est Cresselia
Le pokemon le plus proche de Rayquaza est Mega Blaziken
Le pokemon le plus proche de Giratina Origin Forme est Manaphy
Le pokemon le plus proche de Dialga est Mega Blastoise
Le pokemon le plus proche de Palkia est Mega Charizard Y

DETAILS:

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'] == 'Palkia', ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])
#X.columns pour indiquer les colonnes sans les réécrire
df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'] == 'Dialga', ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])
#X.columns pour indiquer les colonnes sans les réécrire
df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
12,13,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'] == 'Lugia',X.columns])

df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
546,547,Cresselia,Psychic,NaN,120,70,120,75,130,85,4,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'].str.contains('Giratina'), ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])

df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
546,547,Cresselia,Psychic,NaN,120,70,120,75,130,85,4,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'].str.contains('Mewtwo'), ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])

df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
248,249,Mega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'].str.contains('Rayquaza'), ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])
df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
279,280,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False

In [ ]:
ok=model.kneighbors(legendary.loc[legendary['Name'] == 'Mewtwo', ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation']])

df.iloc[ok[1][0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
248,249,Mega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False